<!-- wp:template-part {"slug":"header","theme":"shopmighty","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"background","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group has-background-background-color has-background" style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0">
  <!-- wp:pattern {"slug":"shopmighty/banner-slider"} /-->
  <!-- wp:pattern {"slug":"shopmighty/featured-categories"} /-->
  <!-- wp:pattern {"slug":"shopmighty/featured-products"} /-->
  <!-- wp:pattern {"slug":"shopmighty/cta-block"} /-->
  <!-- wp:pattern {"slug":"shopmighty/favorites-showcase"} /-->
  <!-- wp:pattern {"slug":"shopmighty/testimonial-section"} /-->
  <!-- wp:pattern {"slug":"shopmighty/features-section"} /-->
  <!-- wp:pattern {"slug":"shopmighty/photo-gallery"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"shopmighty","area":"footer"} /-->
