/* ---------Customizer--------- */
.control-section-charity-aid h3.accordion-section-title {
  font-size: 16px !important;
  color: #fff !important;
  background: linear-gradient(81deg, #E8411D 0%, #FAAC52 100%) !important; /* Gradient background */
  padding: 8px 5px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.control-section-charity-aid h3.accordion-section-title:hover {
  background: #E8411D !important;
}
a.button.button-secondary.alignright {
  color: #E8411D;
  font-weight: bold;
  background: #fff;
  font-size: 14px !important;
  border: 2px solid #fff !important;
  border-radius: 5px;
  border: none;
  transition: all 0.1s ease-in-out !important;
}
.control-section-charity-aid h3.accordion-section-title:hover a.button.button-secondary.alignright{
  background: linear-gradient(81deg, #E8411D 0%, #FAAC52 100%) ;
  color: #fff;
}
a.button.button-secondary.alignright:hover {
  background: #fff;
  color: #E8411D;
}
li#accordion-section-charity_aid_buy_now.cannot-expand .accordion-section-title:after,
li#accordion-section-doc_section.cannot-expand .accordion-section-title:after,
li#accordion-section-charity_aid_live_demo.cannot-expand .accordion-section-title:after,
li#accordion-section-doc_section.cannot-expand .accordion-section-title:after {
  display: none;
}
#customize-theme-controls .customize-pane-parent {
  overflow: hidden;
}

/* ON OFF CUSTOM CONTROL CSS */
.charity-aid-on-off-custom-control .customize-control-title {
  display: inline-block;
}

.toggle-on-off {
  position: relative;
  width: 64px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  float: right;
}

.toggle-on-off .toggle-on-off-tickbox {
  display: none;
}

.toggle-on-off .toggle-on-off-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #ddd;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.toggle-on-off-inner-span {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.2s ease-in 0s;
}

.toggle-on-off-inner-span:before,
.toggle-on-off-inner-span:after {
  display: block;
  float: left;
  width: 50%;
  height: 22px;
  padding: 0;
  line-height: 22px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.toggle-on-off-inner-span:before {
  content: "ON";
  padding-left: 8px;
  background-color: #000;
  color: #fff;
}

.toggle-on-off-inner-span:after {
  content: "OFF";
  padding-right: 8px;
  background-color: #eee;
  color: #999;
  text-align: right;
}

.toggle-on-off-switch {
  display: block;
  width: 16px;
  margin: 3px;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 38px;
  border: 2px solid #ddd;
  border-radius: 0;
  transition: all 0.2s ease-in 0s;
}

.toggle-on-off-tickbox:checked+.toggle-on-off-label .toggle-on-off-inner-span {
  margin-left: 0;
}

.toggle-on-off-tickbox:checked+.toggle-on-off-label .toggle-on-off-switch {
  right: 0px;
}